{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="container-">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <h2>Login</h2>
            <form method="POST">
                <div class="form-group">
                    {% csrf_token %}
                    {{ form|crispy }}
                
                    <button type="submit" class="btn btn-success ml-2">Login</button>
                
                </div>
            <form>
        </div>
    </div>
</div>
{% endblock %}