{% extends 'base.html' %}
{% block title %}Password Change Successful{% endblock %}
{% block content %}
<div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-6">

                    <h1>Password change successful</h1>
                    <p>Your password was changed.</p>
            </div>
        </div>
    </div>
{% endblock content %}