{% extends 'base.html' %}

{% block title %}Email Send{% endblock %}
{% block content %}
<h1>Check your inbox.</h1>

<p>We've emailed you instructions for setting your password. You should receive the email shortly!</p>

{% endblock %}