{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Password Change{% endblock %}

{% block content %}
<div class="container-">
        <div class="row justify-content-md-center">
            <div class="col-md-4">
                    <h1>Password Change</h1>
                    <p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
                    
                    <form method="POST">
                    <div class="form-group">
                        {% csrf_token %}
                        {{ form|crispy }}
                    
                        <button type="submit" class="btn btn-success ml-2">Change my password</button>
                    
                    </div>
                <form>
            </div>
        </div>
    </div>
{% endblock %}