{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Forgot Your Password?{% endblock %}
{% block content %}
<div class="container-">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
                <h1>Forgot Password ?</h1>
                <p>Please enter your address email</p>
                
                <form method="POST">
                <div class="form-group">
                    {% csrf_token %}
                    {{ form|crispy }}
                
                    <button type="submit" class="btn btn-success ml-2">Send me instrucutions !</button>
                
                </div>
            <form>
        </div>
    </div>
</div>
{% endblock %}