{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container-">
        <div class="row justify-content-md-center">
            <div class="col-md-4">
                <h1>New Article</h1>
                <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                    {{ form|crispy }}
                <button class="btn btn-primary ml-2" type="submit">Create</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}