{% extends 'base.html' %}
{% block content %}
    <div class="container-">
        <div class="row justify-content-md-center">
            <div class="col-md-4">
                <h1>Delete</h1>
                <form action="" method="post">{% csrf_token %}
                    <p>Are you sure you want to delete "{{ article.title }}"?</p>
                    <button class="btn btn-danger ml- " type="submit">Confirm</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}