{% extends 'base.html' %}
{% block content %}
    {% for article in object_list %}
        <div class="container-">
            <div class="row justify-content-md-center">
                <div class="col-md-4">
                    <div class="card">
                            <img src="{{ article.image.url }}" class="card-img-top" alt="{{ article.title }}">
                        <div class="card-header">
                            <span class="font-weight-bold">{{ article.title }}</span> &middot;
                            <span class="text-muted">by {{ article.author }} | {{ article.date }}</span>
                        </div>
                        <div class="card-body">
                            {{ article.body }}
                        </div>
                        <div class="card-footer text-center text-muted">
                            <a href="{% url 'article_edit' article.pk %}">Edit</a> | <a href="{% url 'article_delete' article.pk %}">Delete</a>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}