{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Sign Up{% endblock %}
{% block content %}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-4">

            <h2>Sign up </h2>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}

                <button type="submit" class="btn btn-success ml-2">Sign Up</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}